.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorisGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: max-content;
}

.favorisGrid>div>a>img{
    border-radius: 2em;
}

