.container {
  padding: 3% 10% 5% 10%;
  contain: layout;
}

.search{
  margin-left: 10px;
  width: 30%;
}

.dropDown{
  border-color: #4334C8;
  margin-left: 10px;
}

.title{
  color: #4334C8;
  padding: 3% 0;
}

.table{
  border-collapse: collapse;
  width: 100%;
  font-family: inter, sans-serif;
  border-radius: 50px !important;
}

.btnFavoris{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: right;
}
